

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<head/>

    <!DOCTYPE html>
    <title>다은이의 홈페이지</title>

<body>
    <nav>
        <a href="./">Home</a>
        <a href="/about_me/">About Me</a>
        <a href="/blog/">Blog</a>

    </nav>



 <center><h1>About Me</h1></center>

    <div style="display: flex; align-items: center; justify-content: center;">
        <div>
            <h3>안녕하세요! <br> 전북대학교 스마트팜학과 하다은입니다. <br>
                Python, HTML, Javascript에 대해 공부하고 있는 2학년입니다. <br>
                Python에서의 라이브러리, 패키지 폭을 넓혀가고자 합니다. <br>
                또한, 웹 개발, 데이터 분석, 그리고 프로그래밍 프로젝트를 통해 실무 경험을 쌓고 있으며 <br>
                새로운 기술을 탐구하고자 끊임없이 노력하고 있습니다. <br>
            </h3>
        </div>
    </div>

</body>

</html>