<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<head/>

    <!DOCTYPE html>
    <title>다은이의 홈페이지</title>

<body>
    <nav>
        <a href="./">Home</a>
        <a href="/about_me/">About Me</a>
        <a href="/blog/">Blog</a>

    </nav>


    <h1>Welcome!</h1>
    <h2>Da Eun's Homepage</h2>


    <hr />

    <center><label for="inputA">이름을 알려주세요</label><br>
    <input id="inputA" value="Someone" onkeyup="doSomething()"></center>

    <p><span id="valueA">Someone </span>님 반갑습니다! &#128150;</p>

</body>

</html>